NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_ENV_STATUS=test
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_RcQJKMfAZLVORm
RAZORPAY_KEY_SECRET=WM95AVS5wUseZVZ1ysJv1ViT
NEXT_PUBLIC_WHATSAPP_CONTACT=1111111111
RAZORPAY_KEY_ID=rzp_test_RcQJKMfAZLVORm